html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.logo {
  height: 60px;
  margin-bottom: 100px;
}

@font-face {
  font-family: "GIN";
  src: url(../public/fonts/GIN_Regular.otf);
}

h1 {
  color: rgb(40, 40, 40);
  font-family: GIN;
  font-size: 17vw;
  line-height: 0.8;
  text-transform: uppercase;
}

@font-face {
  font-family: "SonTorpes";
  src: url(../public/fonts/SaoTorpes.otf);
}

h4 {
  font-family: SonTorpes;
  font-size: calc(clamp(3.375rem, -0.125rem + 17.5vw, 15.625rem) * 0.175);
  text-transform: lowercase;
  margin-top: calc(clamp(3.375rem, -0.125rem + 17.5vw, 15.625rem) * -0.01);
  float: right;
}

h2 {
  font-family: SonTorpes;
  font-size: clamp(2.25rem, 1.5rem + 3.75vw, 4.875rem);
  margin-top: 250px;
}

h3 {
  font-family: SonTorpes;
  font-size: clamp(1.125rem, 0.6964rem + 2.1429vw, 2.625rem);
  margin-top: 36px;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(../public/fonts/RobotoCondensed-Regular.ttf);
}

p {
  font-family: RobotoCondensed;
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
}

.app{
  color: white;
  width: 94vw;
}

.app-mobile {
  margin: 20px;
}