.logo {
  height: clamp(3.75rem, 3.1071rem + 3.2143vw, 6rem);;
  margin-bottom: clamp(7.5rem, 6.4286rem + 5.3571vw, 11.25rem);
}

a {
  color: white;
}

@font-face {
  font-family: "GIN";
  src: url(../public/fonts/GIN_Regular.otf);
}

.app{
  color: white;
  width: 94vw;
  margin: 24px;
}

.app-header {
  color: rgb(40, 40, 40);
  font-family: GIN;
  font-size: 18vw;
  line-height: 0.8;
  text-transform: uppercase;
}

.app-mobile-header {
  font-size: 16.2vw;
}

.app-mobile {
  width: 90vw;
  .experience {
    margin-right: 20px;
  }
}

@font-face {
  font-family: "SonTorpes";
  src: url(../public/fonts/SaoTorpes.otf);
}

h4 {
  font-family: SonTorpes;
  font-size: calc(clamp(3.375rem, -0.125rem + 17.5vw, 15.625rem) * 0.175);
  text-transform: lowercase;
  margin-top: calc(clamp(3.375rem, -0.125rem + 17.5vw, 15.625rem) * -0.125);
  float: right;
}

h2 {
  font-family: SonTorpes;
  font-size: clamp(2.25rem, 1.5rem + 3.75vw, 4.875rem);
  margin-top: clamp(15.625rem, 13.8393rem + 8.9286vw, 21.875rem);
}

h3 {
  font-family: SonTorpes;
  font-size: clamp(1.125rem, 0.6964rem + 2.1429vw, 2.625rem);
  margin-top: clamp(1.5rem, 0.9643rem + 2.6786vw, 3.375rem);
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(../public/fonts/RobotoCondensed-Regular.ttf);
}

.container {
  width: calc(clamp(4.25rem, 0.9107rem + 16.6964vw, 15.9375rem) * 4.5);
}

p {
  font-family: RobotoCondensed;
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
}

.experience {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dates {
  text-align: right;
}

.valid {
  color: green;
}

@font-face {
  font-family: "Krungthep";
  src: url(../public/fonts/Krungthep.ttf);
}

.outro {
  font-family: Krungthep;
  padding-top: clamp(7.5rem, 4.2857rem + 16.0714vw, 18.75rem);
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
}

